<div class="container">
  <h1>Salaries calculator</h1>
  <form #f="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="dayGrossSalary">Day gross salary</label>
      <input type="text"
             class="form-control"
             id="dayGrossSalary"
             name="dayGrossSalary"
             [(ngModel)]="model.dayGrossSalary"
             required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <ul class="mt-3">
    <li *ngFor="let salaryItem of salaryList.salaryItemsList">
      <p>{{ salaryItem.country }}</p>
      <p>Salary: {{ salaryItem.salary }} </p>
      <div class="alert alert-primary" role="alert"
           *ngIf="!(salaryItem.rateEffectiveDate == currentDate.toISOString().slice(0,10))">
        Watch out: exchange rate
        from {{ salaryItem.rateEffectiveDate }}
      </div>
    </li>
  </ul>
</div>
